{% if lastfm_scrobbling %}
<div class="lastfm-scrobbler">
    {% set last_track = lastfm_scrobbling|first %}
    <div class="lastfm-featured size-{{ config.plugins.lastfm.image_size }}">
        {% if last_track.image %}
            <div class="lastfm-featured-image">
                <a href="{{ last_track.url|defined('#') }}">
                    <img class="album-image" src="{{ last_track.image }}"/>
                </a>
            </div>
        {% endif %}
        <div class="lastfm-info">
            <p class="track-name">
                {{ last_track.name }}
                {% if last_track.nowplaying == true %}
                    <span class="lastfm-nowplaying"></span>
                {% endif %}
            </p>
            <p class="track-astist">{{ last_track.artist }}</p>
            <p class="track-album">{{ last_track.album }}</p>
        </div>
    </div>
    {% if lastfm_scrobbling|count > 1 %}
    <ul class="lastfm-list">
        {% for track in lastfm_scrobbling|slice(1) %}
            <li>
                <a href="{{ track.url }}">
                    {{ track.name|defined('#') }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endif %}